<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec=https://www.thymeleaf.org/thymeleaf-extras-springsecurity5
	layout:decorator="template">
<link rel="stylesheet" type="text/css"
	href="webjars/bootstrap/4.3.1/css/bootstrap.min.css" />
<script src="https://kit.fontawesome.com/13c7aef6c8.js"></script>

<head>
<meta charset="utf-8">
<title>Liste des catégories</title>
</head>
<div layout:fragment="Mycontent">
	<div class="container mt-5">
		<div class="card">

			<div class="card-header text-white bg-info ">Liste des
				catégories</div>

			<div class="card-body">
				<table class="table table-striped">
					<tr>
						<th>ID</th>
						<th>Nom de la catégorie</th>
						<th>Description</th>
						<th>Actions</th>




					</tr>
					<tr th:each="c:${categories}">
						<td th:text="${c.idCategorie}"></td>
						<td th:text="${c.nomCat}"></td>
						<td th:text="${c.descriptionCat}"></td>

						<td sec:authorize="hasRole('ADMIN')"><a class="text-danger"
							onclick="return confirm('Etes-vous sûr de vouloir supprimer cette catégorie ?')"
							th:href="@{supprimerCategorie(id=${c.idCategorie}, page=${currentPage},size=${size})}"><i
								class="fas fa-dumpster"></i></a> <a class="text-warning"
							onclick="return confirm('Etes-vous sûr de vouloir modifier cette catégorie ?')"
							th:href="@{modifierCategorie(id=${c.idCategorie}, page=${currentPage},size=${size})}"><i
								class="far fa-edit"></i></a></td>


					</tr>
				</table>

				<div class="container">
					<p>Nombre de produits : [[${totalItem}]]</p>
					<nav aria-label="Page navigation" class="paging">


						<ul class="pagination pagination-sm">

							<li class="page-link active" aria-current="page"
								th:if="${currentPage !=-0}"><a class="page-item"
								th:href="@{/listerCategorie(page=${currentPage-1}, size=${size} ) }">
									<span aria-hidden="true">&laquo;</span>
							</a></li>



							<li class="page-link" th:each="page,status:${pages}"><a
								class="page-item"
								th:class="${status.index==currentPage?'text-info':'text' }"
								th:href="@{listerCategorie(page=${status.index}, size=${size} ) }"
								th:text="${status.index +1}"></a></li>




							<li class="page-link" th:if="${currentPage+1 !=pages}"><a
								class="page-item"
								th:href="@{/listerCategorie(page=${currentPage+1}, size=${size} ) }">
									<span aria-hidden="true">&raquo;</span>
							</a></li>
						</ul>

					</nav>




				</div>



				<form th:action="@{/showCreateCategorie}">
					<button type="submit" class="btn btn-info">Ajouter une
						catégorie</button>
				</form>



			</div>
		</div>
	</div>
</div>
</html>